ETCD_NAME="{{ etcd_hostnames[groups['servers'].index(inventory_hostname)] }}"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ etcd_hosts[groups['servers'].index(inventory_hostname)] }}:2379"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ etcd_hosts[groups['servers'].index(inventory_hostname)] }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="cluster2U"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_DATA_DIR="/var/lib/etcd"

ETCD_INITIAL_CLUSTER="{% for i in range(etcd_hostnames | length) %}{{ etcd_hostnames[i] }}=http://{{ etcd_hosts[i] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
