ETCD_NAME="{{ etcd_hostname }}"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ etcd_host }}:2379"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ etcd_host }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="cluster2U"
ETCD_INITIAL_CLUSTER="{% for host in groups['servers'] %},{{ hostvars[host]['etcd_hostname'] }}=http://{{ hostvars[host]['etcd_host'] }}:2380{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"

