global
    maxconn 100000
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy-master.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    mode               tcp
    log                global
    retries            2
    timeout queue      5s
    timeout connect    5s
    timeout client     60m
    timeout server     60m
    timeout check      15s

# Определяем индекс текущей ноды в группе servers
{% set node_index = groups['servers'].index(inventory_hostname) %}

listen stats
    mode http
    bind {{ etcd_hosts[node_index] }}:7000
    stats enable
    stats uri /

listen master
    bind {{ vip_address }}:5000
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /primary
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
    {% for host in groups['servers'] %}
    server {{ hostvars[host]['ansible_hostname'] }} {{ etcd_hosts[loop.index0] }}:5432 check port 8008
    {% endfor %}

listen replicas
    bind {{ vip_address }}:5001
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /replica?lag=100MB
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for host in groups['servers'] %}
    server {{ hostvars[host]['ansible_hostname'] }} {{ etcd_hosts[loop.index0] }}:5432 check port 8008
    {% endfor %}

listen replicas_sync
    bind {{ vip_address }}:5002
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /sync
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for host in groups['servers'] %}
    server {{ hostvars[host]['ansible_hostname'] }} {{ etcd_hosts[loop.index0] }}:5432 check port 8008
    {% endfor %}

listen replicas_async
    bind {{ vip_address }}:5003
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /async?lag=100MB
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for host in groups['servers'] %}
    server {{ hostvars[host]['ansible_hostname'] }} {{ etcd_hosts[loop.index0] }}:5432 check port 8008
    {% endfor %}
